# Tambahkan baris-baris berikut ke file .env Anda

# Midtrans Configuration
MIDTRANS_MERCHANT_ID=G670941797
MIDTRANS_CLIENT_KEY=SB-Mid-client-WQNYuZIyAle8Hd0r
MIDTRANS_SERVER_KEY=SB-Mid-server-icYB5ycLAaoj87maCm6bb5lr
MIDTRANS_IS_PRODUCTION=false